.content2 {
    position: absolute;
    top: 10vh;
    left: 5vw;
    visibility: visible;

    .app2 {
        height: 70vh;
        width: 70vw;
        box-shadow: rgba(0, 0, 0, 0.366) 0px 0px 15px;
        border-radius: 11px 11px 11px 11px;
        background-color: white;

        .app-header {
            width: 100%;
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between; 

                .traffic {
                    display: flex;
                    height: 100%;
                    width: 20%;
                    justify-content: flex-start;
                    align-items: center;


                    .redlight {
                        background-color: red;
                        height: 15px;
                        width: 15px;
                        margin-left: 0.5vw;
                        border-radius: 30px;
                    }
    
                    .yellowlight {
                        background-color: orange;
                        height: 15px;
                        width: 15px;
                        margin-left: 0.3vw;
                        border-radius: 30px;
    
                    }
    
                    .greenlight {
                        background-color: green;
                        height: 15px;
                        width: 15px; 
                        margin-left: 0.3vw;
                        border-radius: 30px;
                    }
                }

            

            .app-title {
                height: 100%;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 75%;
                font-weight: 500;
                margin-right: 0.6vw;
            }
        }

        .app-sct {
            width: 100%;
            height: 95%;
            background-color: grey;
        }
    }
}